.mt30{
    margin-top: 100px;
}
.carusel-content{
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .portrait{
        width: 220px;
        height: 370px;
    }
    .landscape{
        width: 370px;
        height: 220px;
    }
    .carusel-card{
        position: relative;
        margin: 10px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        p{
            position: absolute;
            background-color: rgba($black600, .5);
            bottom: 0px;
            color: $white;
            cursor: pointer;
            padding: 10px;
            @include transition;
            &:hover{
                background-color: rgba($black600, .8);
            }
        }
        @include transition;
        &:hover{
            transform: scale(1.1);
            z-index: 10;
        }
    }
}