.navbar{
    position: sticky;
    top: 0;
    z-index: 12;
    width: 100%;
    .nav-items{
        width: 100%;
        background-color: $primary-color;
        ul{
            padding: 20px;
            li{
                padding-left: 30px;
                display: inline-block;
                a{
                    color: $white;
                    font-weight: 500;
                    &:hover{
                        color: darken($white,20px);
                    }
                }
            }
        }
    }
}