<div id="header" class="header">
    <img src="./../../assets/header_background.jpg" alt="">
    <div class="hero-container">
        <div class="hero">
            <div class="hero-body">
                <h1>Lorem amet consectetur ipsum dolor sit.</h1>
            </div>
            <div class="hero-title">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui aspernatur delectus, ut aperiam eveniet
                    voluptatibus amet cumque eos exercitationem error dolorum perferendis maxime reiciendis magnam, quae
                    voluptate molestiae numquam adipisci?</p>
            </div>
            <div class="hero-footer">
                <button class="btn">Ko'proq o'qish</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-title pt30" id="our-school">
        <h1>Bizning Maktab</h1>
    </div>
    <div class="container-body">
        <div class="our-school-content">
            <div class="content-img">
                <img src="../../assets/header_background.jpg" alt="">
            </div>
            <div class="content-body">
                <div class="body-title">
                    <h1>Bizning Maktab it amet consectetur, adipisicing elit.</h1>
                </div>
                <div class="body-main">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, unde voluptas, consequatur
                        officia voluptatibus distinctio ab, commodi sunt possimus corrupti maxime voluptates placeat
                        facilis qui maiores ipsam assumenda dolor dicta laboriosam. Aliquam aspernatur sed iure
                        laboriosam, harum, quo ducimus alias animi voluptate porro accusamus sunt tempore assumenda,
                        unde iusto. Quibusdam, deserunt voluptatem nostrum sint error, odio quas et molestias odit
                        recusandae nam totam qui dignissimos vero. Quis assumenda ducimus magni nihil maxime earum
                        sapiente? Recusandae exercitationem dolore debitis excepturi officiis.</p>
                </div>
            </div>
        </div>
        <div class="our-school-content">
            <div class="content-img">
                <img src="../../assets/behind.jpg" alt="">
            </div>
            <div class="content-body">
                <div class="body-title">
                    <h1>Bizning Maktab consectetur, adipisicing elit.</h1>
                </div>
                <div class="body-main">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, unde voluptas, consequatur
                        officia voluptatibus distinctio ab, commodi sunt possimus corrupti maxime voluptates placeat
                        facilis qui maiores ipsam assumenda dolor dicta laboriosam. Aliquam aspernatur sed iure
                        laboriosam, harum, quo ducimus alias animi voluptate porro accusamus sunt tempore assumenda,
                        unde iusto. Quibusdam, deserunt voluptatem nostrum sint error, odio quas et molestias odit
                        recusandae nam totam qui dignissimos vero. Quis assumenda ducimus magni nihil maxime earum
                        sapiente? Recusandae exercitationem dolore debitis excepturi officiis.</p>
                </div>
            </div>
        </div>
        <div class="our-school-content">
            <div class="content-img">
                <img src="../../assets/sport-room.jpg" alt="">
            </div>
            <div class="content-body">
                <div class="body-title">
                    <h1>Bizning Maktab consectetur, adipisicing elit.</h1>
                </div>
                <div class="body-main">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, unde voluptas, consequatur
                        officia voluptatibus distinctio ab, commodi sunt possimus corrupti maxime voluptates placeat
                        facilis qui maiores ipsam assumenda dolor dicta laboriosam. Aliquam aspernatur sed iure
                        laboriosam, harum, quo ducimus alias animi voluptate porro accusamus sunt tempore assumenda,
                        unde iusto. Quibusdam, deserunt voluptatem nostrum sint error, odio quas et molestias odit
                        recusandae nam totam qui dignissimos vero. Quis assumenda ducimus magni nihil maxime earum
                        sapiente? Recusandae exercitationem dolore debitis excepturi officiis.</p>
                </div>
            </div>
        </div>
        <div class="our-school-content">
            <div class="content-img">
                <img src="../../assets/station.jpg" alt="">
            </div>
            <div class="content-body">
                <div class="body-title">
                    <h1>Bizning Maktab consectetur, adipisicing elit.</h1>
                </div>
                <div class="body-main">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, unde voluptas, consequatur
                        officia voluptatibus distinctio ab, commodi sunt possimus corrupti maxime voluptates placeat
                        facilis qui maiores ipsam assumenda dolor dicta laboriosam. Aliquam aspernatur sed iure
                        laboriosam, harum, quo ducimus alias animi voluptate porro accusamus sunt tempore assumenda,
                        unde iusto. Quibusdam, deserunt voluptatem nostrum sint error, odio quas et molestias odit
                        recusandae nam totam qui dignissimos vero. Quis assumenda ducimus magni nihil maxime earum
                        sapiente? Recusandae exercitationem dolore debitis excepturi officiis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="photo-galerry p30">
    <app-carusel [images]="galleryPortraitImages"
    [title]="'O\'quvchilarimiz'" 
    [type]="'portrait'"></app-carusel>
</div>
<div class="photo-galerry p30">
    <app-carusel [images]="galleryLandscapeImages" 
    [title]="'Bizning O\'quvchilar'" 
    [type]="'landscape'"></app-carusel>
</div>