<section class="pt30 footer-section">
    <div class="footer">
        <div class="footer-col">
            <div class="item bold"><h3>MENYULAR</h3></div>
            <div class="item"><a href="#header">BOSH SAXIFA</a></div>
            <div class="item"><a href="#our-school">BIZNING MAKTAB</a></div>
            <div class="item"><a routerLink="news">YANGILIKLAR</a></div>
            <div class="item"><a routerLink="about">BIZ HAQIMIZDA</a></div>
        </div>
        <div class="footer-col">
            <div class="item bold"><h3>Toshkent viloyati Bo'ka tumani 1-son kasb hunar maktabi</h3></div>
            <div class="item"><p>Manzil:Toshkent viloyati Bo'ka tumani A.Qodiriy ko'chasi 2-uy</p></div>
        </div>
        <div class="footer-col">
            
        </div>
    </div>
    <div class="copyright">
        <span>&copy; Build by Samandar</span>
    </div>
</section>