<div class="container">
    <div class="container-title">
        <h1>BIZ XAQIMIZDA</h1>
    </div>
    <div class="container">
        <div class="container-title pt30">
            <h2>KOLLEJ HAQIDA</h2>
        </div>

        <div class="row">
            <div class="col2-1"></div>
            <div class="col2-1">
                <table>
                    <tr>
                        <td>Manzil:</td>
                        <td>Toshkent vil. Bo'ka tumani</td>
                    </tr>
                    <tr>
                        <td>Nomi:</td>
                        <td>1son kxm</td>
                    </tr>
                    <tr>
                        <td>Maydoni:</td>
                        <td>1230x1243<sup>2</sup>m</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="story-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate placeat, modi praesentium
                nostrum illo dolor tempora officiis similique quaerat, deleniti cum vel beatae! Hic eveniet, esse dolore
                saepe quos neque in nihil sint velit ut, iure reiciendis commodi beatae nesciunt explicabo perspiciatis
                delectus expedita, ipsam inventore praesentium asperiores ipsa aliquid odio provident. Labore tempore,
                ipsa quis velit quae soluta ratione perspiciatis perferendis aperiam praesentium illo tempora
                consequuntur odit adipisci saepe facere ab. Quia vero natus maiores deleniti tenetur ex, sit quidem
                iusto eveniet, beatae nostrum numquam dolor vel? Explicabo, accusantium blanditiis tenetur ducimus
                repudiandae dolor iste molestias nisi necessitatibus!</p>
        </div>
    </div>
    <div class="container">
        <div class="pt30"></div>
        <div class="container-title">
            <h2>KOLLEJ TARIXI</h2>
        </div>
        <div class="story-body pt30">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam architecto excepturi esse et natus ad
                deleniti possimus, quas fuga enim cum optio dolorum inventore aliquam quibusdam repudiandae commodi qui
                ea tenetur nam laudantium, nemo quisquam eaque magni? Doloribus numquam vel iusto, nulla delectus, sint
                quam deleniti, non labore fuga vitae ipsum inventore ad ut cumque nisi a nemo officia tenetur
                accusantium aliquid. Praesentium vitae qui id maiores, sint provident officiis laudantium aut neque
                eveniet exercitationem perspiciatis consequatur fuga perferendis fugit commodi, at rerum adipisci
                tempora aliquid beatae nesciunt? Et, pariatur? Quas iste corporis odio est qui. Veniam saepe quam vel
                consequatur amet ratione necessitatibus adipisci rem maiores sequi deserunt at voluptatem excepturi,
                commodi, delectus totam asperiores earum velit placeat repellat eaque mollitia! Illum fuga voluptas in
                ullam, velit enim ipsum voluptatem? Dolor, sapiente facilis autem quidem quam quasi deleniti neque
                molestias, veniam consectetur corporis obcaecati vitae. Tempora, et nesciunt similique a enim maiores
                praesentium, quos ea suscipit fugiat excepturi facilis vitae neque sed velit commodi qui corrupti harum
                nisi. Asperiores animi iure nihil magni, itaque non in rem voluptatem ut sapiente molestiae illum eius
                quaerat molestias, illo id aspernatur velit corporis! Possimus, voluptatibus mollitia nemo ea quae vitae
                tempore at!</p>
        </div>
    </div>

</div>